# Java compiled files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse
.settings/
.project
.classpath

# IntelliJ
.idea/
*.iml
out/

# Build directories
/bin/
/target/
